<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Browse Booking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Function Rooms Booking System">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=B612&display=swap" rel="stylesheet">
        <style>
            body{
                color:#355070;
                font-family: 'B612', sans-serif;
                padding:10px;
            }
            h2,
            h3,
            h4{
                margin: 10px;
                padding:10px 0;
            } 
        </style>
    </head>

    <body>

        <h2> Browse My Booking List</h2>
        <h4> Click <a href="/menu">here</a> to return to main menu</h4>
        
        <h3> Below is summary of the booking list</h3>
       

    </body>

</html>