<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Function Rooms Booking System">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=B612&display=swap" rel="stylesheet">
        <style>
            h2{
                color:#355070;
                font-family: 'B612', sans-serif;
            }

            h3{
                color:#355070;
                font-family: 'B612', sans-serif;
            }

            form input{
                font-family: 'B612', sans-serif;
                margin: 5px;
            }
        </style>
</head>
<body>

<h2>Please login to your account</h2>
<form method="post">
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit">
</form>
<h3>Sign up <a href="/signup">here</a> if you do not have an account</h3>

</body>
</html>