<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Function Rooms Booking System">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=B612&display=swap" rel="stylesheet">
        <style>
            body{
                color:#355070;
                font-family: 'B612', sans-serif;
                margin: 1em;
            }
            input{
                margin: 5px 0;
            }

        </style>
</head>
<body>

<h2>Please login to your account</h2>
<form method="post" autocomplete="off">
    <input type="text" name="username" placeholder="username" required><br>
    <input type="password" name="password" placeholder="password" required><br>
    <input type="radio"
    <input type="submit">
</form>
<h3>Sign up <a href="/signup">here</a> if you do not have an account</h3>

</body>
</html>