<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Remove Booking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Function Rooms Booking System">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=B612&display=swap" rel="stylesheet">
        <style>
            body{
                color:#355070;
                font-family: 'B612', sans-serif;
                padding:10px;
            }
            h2,
            h3,
            h4{
                margin: 10px;
                padding:20px 0;
            }
            form input{
                margin: 10px;
            }
            form label{
                margin: 10px;  
            }
            p{
                color:#355070;
                font-family: 'B612', sans-serif;
                padding-left: 10px;
                margin: 0px;
            }
            
        </style>
    </head>

    <body>

        <h2> Remove Booking</h2>

        <form method="post">
            <label for ="bookingIDToDelete">Please enter Booking ID to delete:</label>
            <input type="text" name="bookingIDToDelete" placeholder="Booking ID To Delete"><br>
            <input type="submit">
        </form>

        <h4> Click <a href="/menu">here</a> to return to main menu &nbsp; <a href="/logout">LogOut?</a><br></h4>
        <h3> Below is summary of the booking list:</h3>

    </body>

</html>