<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Function Rooms Booking System">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=B612&display=swap" rel="stylesheet">
        <style>
            body{
                color:#355070;
                font-family: 'B612', sans-serif;
                margin: 1em;
            }

            input,label{
                margin: 8px 0;
            }
        </style>
</head>
<body>

    <h2>Create New Account</h2>
    <h3>Enter the following to create a new account</h3>

    <form method="post">
        <label for ="firstname">First name:</label>
        <input type="text" name="firstname" placeholder="first name" required><br>
        <label for ="lastname">Last name:</label>
        <input type="text" name="lastname" placeholder="last name" required><br>
        <label for ="username">Username:</label>
        <input type="text" name="username" placeholder="username" required><br>
        <label for ="password">Password:</label>
        <input type="text" name="password" placeholder="password" required><br>
        <input type="submit">
    </form>

    <h4> Click <a href="/">here</a> to return &nbsp; </h4>

</body>
</html>